* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}

